@import url("https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300&display=swap");
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Zen Kaku Gothic New", sans-serif;
}
nav {
    width: 100%;
    height: 75px;
    background-color: #999999;
    line-height: 75px;
    padding: 0px 100px;
    z-index: 1;
}
h1 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: white;
}
p {
    font-size: 20px;
}
